--extra-index-url https://download.pytorch.org/whl/cpu
# torch 2.7.1/torch-npu 2.7.1 do not provide Python 3.14 wheels.
# Please use Python >=3.10,<3.14 with this requirements file.
torch==2.7.1+cpu
torch-npu==2.7.1.post8

en_dtypes
matplotlib
ml_dtypes
numpy>=1.24.4,<=1.26.4
pandas
pybind11==2.13.1
pyyaml==6.0.3
scipy==1.13.1
